node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

DATABSE .env 

API_KEY="AIzaSyASRvqTbBV61Va8I4boRyOU5yvY942tsFQ"
AUTH_DOMAIN="test2-7ed41.firebaseapp.com"
PROJECT_ID="test2-7ed41"
STORAGE_BUCKET="test2-7ed41.appspot.com"
MESSAGING_SENDER_ID="458106844118"
APP_ID="1:458106844118:web:b1c9e9afb9120617d7ea77"
